<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fyd.mybatisdemo.mapper.UserMapper">
    <resultMap id="BaseMap" type="com.fyd.mybatisdemo.model.UserInfo">
        <id column="id" property="id"/>
        <result column="username" property="name"/>
    </resultMap>
    <select id="getAll" resultMap="BaseMap">
        select * from userinfo
    </select>
    <select id="getUserById" resultType="com.fyd.mybatisdemo.model.UserInfo">
        select * from userinfo where id = ${uid}
    </select>
    <select id="getUserByName" resultType="com.fyd.mybatisdemo.model.UserInfo">
        select * from userinfo where username = #{username}
    </select>
    <select id="getAllOrder" resultType="com.fyd.mybatisdemo.model.UserInfo">
        select * from userinfo order by id ${order}
    </select>
    <select id="login" resultType="com.fyd.mybatisdemo.model.UserInfo">
        select * from userinfo where username = #{username} and password = ${password}
    </select>
    <select id="getUserByLikeName" resultType="com.fyd.mybatisdemo.model.UserInfo">
        select * from userinfo where username like concat('%',#{username},'%')
    </select>
</mapper>